<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <img
      src="https://cms.saipos.com/storage/uploads/2020/10/22/5f91b01b547f5Logo-Saipos.svg"
      alt="Logo Saipos"
      width="159"
      height="55"
      class="d-inline-block align-text-top"
    />

    <span class="navbar-text"> Saipos TodoList </span>
  </div>
</nav>

<main>
  <div class="container">
    <div class="row mt-5">
      <!-- content form -->
      <div class="col-md-6 mb-5">
        <h2>Add Tasks</h2>

        <div class="row mt-4">
          <div class="col-md-8 col-sm-8 mb-3">
            <div class="form-floating">
              <input
                [(ngModel)]="todoForm.title"
                id="title"
                name="title"
                type="text"
                class="form-control"
                placeholder="Type title here..."
              />
              <label for="title">Title*</label>
            </div>
          </div>
          <div class="col-md-12 mb-3">
            <div class="form-floating">
              <textarea
                [(ngModel)]="todoForm.description"
                rows="4"
                id="description"
                name="description"
                type="text"
                class="form-control"
                placeholder="Type description here..."
              ></textarea>
              <label for="description">Description*</label>
            </div>
          </div>

          <div class="col-md-6 col-sm-6 mb-3">
            <div class="form-floating">
              <input
                [(ngModel)]="todoForm.responsible_name"
                id="responsible_name"
                name="responsible_name"
                type="text"
                class="form-control"
                placeholder="Type responsible name here..."
              />
              <label for="responsible_name">Responsible*</label>
            </div>
          </div>
          <div class="col-md-6 col-sm-6 mb-3">
            <div class="form-floating">
              <input
                [(ngModel)]="todoForm.responsible_email"
                id="responsible_email"
                name="responsible_email"
                type="email"
                class="form-control"
                placeholder="Type responsible email here..."
              />
              <label for="responsible_email">Responsible E-mail*</label>
            </div>
          </div>

          <div class="col-md-6 col-sm-6 message-info-required">
            <p>Obs: Fields with * are required.</p>
          </div>
        </div>

        <div class="d-grid gap-2 col-6 mx-auto">
          <button
            class="btn btn-primary btn-save"
            type="button"
            (click)="taskAdd()"
          >
            Save
          </button>
        </div>
      </div>
      <!-- content list -->
      <div class="col-md-6">
        <div class="row mt-4">
          <div class="col-md-8 col-sm-8 offset-2 mb-4">
            <input
              [(ngModel)]="search"
              id="search"
              name="search"
              type="search"
              class="form-control"
              placeholder="Search tasks by title or description"
              (keyup)="searchBy()"
            />
          </div>
        </div>

        <div class="list-group">
          <div class="row mb-4">
            <div
              class="
                d-flex
                justify-content-start
                align-items-center
                col-md-8 col-sm-8
              "
            >
              <h4 class="m-0">Pending</h4>
            </div>
            <div class="col-md-4 col-sm-4">
              <button
                type="button"
                class="btn btn-get-facts"
                (click)="insertTasks()"
              >
                I'm out of tasks!
              </button>
            </div>
          </div>

          <div
            class="list-group-item list-group-item-action todo-item"
            *ngFor="let todo of todoPendingList"
          >
            <div class="d-flex w-100 justify-content-between">
              <h6 class="mb-1">{{ todo.title }}</h6>
            </div>
            <small>{{ todo.description }}</small>

            <div class="row">
              <div class="col-md-2 col-sm-2 offset-8">
                <button
                  type="button"
                  class="btn btn-done"
                  (click)="taskDone(todo)"
                >
                  Done
                </button>
              </div>
              <div class="col-md-2 col-sm-2">
                <button
                  class="btn btn-delete"
                  (click)="viewInputConfirm(true, todo)"
                >
                  Delete
                </button>
              </div>
            </div>
          </div>
        </div>

        <div class="row mb-4 mt-4">
          <div
            class="
              d-flex
              justify-content-start
              align-items-center
              col-md-8 col-sm-8
            "
          >
            <h4 class="m-0">Done</h4>
          </div>
        </div>

        <div
          class="list-group-item list-group-item-action todo-item"
          *ngFor="let todo of todoDoneList"
        >
          <div class="d-flex w-100 justify-content-between">
            <h6 class="mb-1">{{ todo.title }}</h6>
          </div>
          <small>{{ todo.description }}</small>

          <div class="row">
            <div class="col-md-2 col-sm-2 offset-8">
              <button
                type="button"
                class="btn btn-done"
                (click)="taskDone(todo)"
              >
                Done
              </button>
            </div>
            <div class="col-md-2 col-sm-2">
              <button
                class="btn btn-delete"
                (click)="viewInputConfirm(true, todo)"
              >
                Delete
              </button>
            </div>
          </div>
        </div>
        <!--
          <div *ngIf="passConfirmVisible" class="row p-0">
            <div class="col-md-6 col-md-offset-3">
              <input
                style="width: 100%"
                [(ngModel)]="passConfirm"
                id="passConfirm"
                name="passConfirm"
                type="text"
                placeholder="Password for confirm delete "
              />
            </div>
            <div class="col-md-2 col-md-offset-4">
              <button
                *ngIf="updateStatus === 'done'"
                (click)="taskRemove(todoSelected)"
              >
                Confirm
              </button>
              <button
                *ngIf="updateStatus === 'pending'"
                (click)="taskDone(todoSelected)"
              >
                Confirm
              </button>
            </div>
            <div class="col-md-2">
              <button (click)="viewInputConfirm(false)">Cancel</button>
            </div>
          </div>
        </div> -->
      </div>
    </div>
  </div>
</main>
