<header>Toto List</header>

<main>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h1>Adicionar Tarefas</h1>

        <div class="row">
          <div class="col-md-12">
            <label for="title">Title</label>
            <input
              [(ngModel)]="todoForm.title"
              id="title"
              name="title"
              type="text"
            />
          </div>
          <div class="col-md-12">
            <label for="description">Description</label>
            <textarea
              [(ngModel)]="todoForm.description"
              cols="8"
              rows="5"
              id="description"
              name="description"
              type="text"
            ></textarea>
          </div>

          <div class="col-md-12">
            <label for="responsible_name">Responsável</label>
            <input
              [(ngModel)]="todoForm.responsible_name"
              id="responsible_name"
              name="responsible_name"
              type="text"
            />
          </div>
          <div class="col-md-12">
            <label for="responsible_email">E-mail do Responsável</label>
            <input
              [(ngModel)]="todoForm.responsible_email"
              id="responsible_email"
              name="responsible_email"
              type="email"
            />
          </div>
        </div>

        <button (click)="taskAdd()">Salvar</button>
      </div>
      <div class="col-md-6">
        <input
          [(ngModel)]="search"
          id="search"
          name="search"
          type="search"
          placeholder="Search tasks by title or description"
          (keyup)="searchBy()"
        />
        <div class="todo-container">
          <ol class="todo-list">
            <h3>Pending</h3>
            <button (click)="insertTasks()">I'm out of tasks!</button>
            <li class="todo-item" *ngFor="let todo of todoPendingList">
              <div class="todo-item-content" *ngIf="!todo.done">
                {{ todo.title }} -- {{ todo.description }} - {{ todo.done }}
                <button (click)="taskDone(todo)">Done</button> |
                <button (click)="viewInputConfirm(true, todo)">Delete</button>
              </div>
            </li>

            <h3>Done</h3>
            <li class="todo-item" *ngFor="let todo of todoDoneList">
              {{ todo.title }} -- {{ todo.description }} - {{ todo.done }}
              <button (click)="viewInputConfirm(true, todo, 'pending')">
                Pending
              </button>
              |
              <button (click)="viewInputConfirm(true, todo)">Delete</button>
            </li>
          </ol>

          <div *ngIf="passConfirmVisible" class="row p-0">
            <div class="col-md-6 col-md-offset-3">
              <input
                style="width: 100%"
                [(ngModel)]="passConfirm"
                id="passConfirm"
                name="passConfirm"
                type="text"
                placeholder="Password for confirm delete "
              />
            </div>
            <div class="col-md-2 col-md-offset-4">
              <button
                *ngIf="updateStatus === 'done'"
                (click)="taskRemove(todoSelected)"
              >
                Confirm
              </button>
              <button
                *ngIf="updateStatus === 'pending'"
                (click)="taskDone(todoSelected)"
              >
                Confirm
              </button>
            </div>
            <div class="col-md-2">
              <button (click)="viewInputConfirm(false)">Cancel</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
